.information
  .explanation
    .explanation__image
      = image_tag "/plain.jpg", alt: "プレーン", id: "camera" 
    .explanation__waffle
      %h1.explanation__waffle--code
        プレーンワッフル
      .explanation__waffle--info
        蜂蜜とバターの風味豊かなワッフルです
      .explanation__waffle--price
        150円（税抜き)
  .bottom
    .detail
      .detail__allergies
        アレルギー情報
      .detail__contents
        特定原材料７品目
      %table
        %tr.allergies_area
          %th
            卵
          %th 
            乳
          %th 
            小麦
          %th 
            落花生
          %th 
            そば
          %th 
            えび
          %th 
            かに
        %tr
          %td
            ●
          %td 
            ●
          %td 
            ●
          %td 
            ×
          %td 
            ×
          %td 
            ×
          %td  
            ×
      .detail__nutritional
        栄養成分情報(１個あたり)
      .detail__contents
        %table
          %tr.nutritional_area
            %th
              エネルギー kcal
            %th 
              たんぱく質 g
            %th 
              脂質 g
            %th 
              炭水化物 g
            %th 
              食塩相当量 g
          %tr
            %td
              220
            %td 
              3.8
            %td 
              11.8
            %td 
              24.6
            %td 
              0.2
  .change
    .chage__box
      = link_to "メニューに戻る", :back