* {
  box-sizing: border-box;
}
.Header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #fa9303;
  padding: 10px 0;
  display: flex;
  border-radius : 1px;
  box-shadow :
      0 0 0 1px #666666,
      0 0 0 3px #ffffff,
      0 0 0 5px #4f2e00;
  background: linear-gradient(#f8d8a8, #b97f14);
  &__logo {
    width: 50%;
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    color: white;
  }
  &__info {
    width: 50%;
    padding-left: 500px;
    display: flex;
    justify-content: space-around;
  }
}
.Wrapper {
  background-color: #ffffcc;
}
.Contents {
  height: calc(100vh - 70px);
  animation: SlideIn 1.6s;
  &__image {
    height: 90%;
    width: 100%;
  }
}
.Select {
  color: #4f2e00;
  height: 100px ;
  margin: 0 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Caveat', cursive;
  &__waffle {
    font-size: 35px;  
    border-bottom: solid 3px brown;
    text-align: center;
    width: 100px;
  }
  &__waffleB {
    margin-top: 20px;
  }
}
.Waffles {
  padding: 0 80px;
  display: flex;
  width: 100%;
  height: 500px;
  &__box {
    height: 400px;
    width: 300px;
    color: #4f2e00;
    text-align: left;
    &--image {
      height: 250px;
      width: 256px;
      -webkit-animation: Waffles__box--image 0.8s linear 0s 1;
      animation: Waffles__box--image 0.8s linear 0s 1;
    }
    @-webkit-keyframes Waffles__box--image {
      0%   { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
      15%  { -webkit-transform: scale(0.9, 0.9) translate(0%, 5%); }
      30%  { -webkit-transform: scale(1.3, 0.8) translate(0%, 10%); }
      50%  { -webkit-transform: scale(0.8, 1.3) translate(0%, -10%); }
      70%  { -webkit-transform: scale(1.1, 0.9) translate(0%, 5%); }
      100% { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
    }
    @keyframes Waffles__box--image {
      0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
      15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
      30%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
      50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
      70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
      100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
    }
    &--title {
      font-size: 20px;
      margin-bottom: 15px;
      padding:0 40px;
      font-weight: bold;
    }
    &--text {
      font-size: 15px;
      padding-left: 40px;
    }
    &--price {
      font-size: 20px;
      padding-left: 40px;
      font-weight: bold;
      margin-top: 10px;
    }
    &--input {
      font-size: 13px;
      display: flex;
      padding-left: 40px;
      margin-top: 5px;
      &--select_number {
      margin-right: 5px;
      }
    }
  }
}
a {
  text-decoration-line: none;
  color: #4f2e00;
}
.Form {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  &__contents {
    
  }
}
.Wrapper_new  {
  background-color: #ffffcc;
  height: 100vh;
  width: 100%;
  padding-top: 90px;
  overflow: scroll;
}
.Title {
  color: #4f2e00;
  height: 100px ;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  
}
.FormSelect {
  color: #4f2e00;
  height: 380px ;
  margin: 0 300px;
  
  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
    background-color: #f3dfdf;
  } 
}
h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  color: #f05050;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  color: #f05050;
  font-size: 13px;
}
.Selects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  &__name {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    &--text{
      height: 30px;
    }
  }
  &__email {
    display: flex;
    align-items: center;
    flex-direction: column;
    &--text {
      height: 30px;
    }
  }
  &__waffle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    &--fleaver {
      width: 60px;
      height: 30px;
    }
  }
  &__day {
    display: flex;
    align-items: center;
  }
}
.Send_btn {
  margin-top: 40px;
  font-size: 20px;
  background-color: #660000;
  color: #ffffff;
}
.Back {
  font-size: 10px;
  margin-top: 20px;
  height: 50px;
}
.Finish {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffcc;
  height: 100vh;
  width: 100%;
  animation: SlideIn 1.6s;
  &__contents {
    font-size: 30px;
    color: #4f2e00;
  }
  &__reserve {
    display: flex;
    align-items: flex-start;;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius : 1px;
    box-shadow :
        0 0 0 1px #666666,
        0 0 0 3px #ffffff,
        0 0 0 5px #4f2e00;
    background: linear-gradient(#ffffff, #f3f3e0);
    &--select {
      font-size: 20px;
      margin-left: 50px;
      margin-bottom: 5px;
      border-bottom: 1px solid black;
    }
    
  }
  &__link {
    margin-top: 20px;

  }
}
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}